@using Entity
@model Product

@{
    ViewBag.Title = "ProductSave";
}
<section id="form">
    <!--form-->
    <div class="container">
        <div class="col-sm-8 col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
            <div class="login-form">
                <!--Admin login form-->
                <h2>Save New Product</h2> 
                @using (Html.BeginForm("ProductSave", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="text" name="productName" placeholder="Product Name" />
                    <input type="text" name="productDescription" placeholder="Product Description" />
                    <input type="text" name="productBrand" placeholder="Brand" />
                    <input type="number" name="price" placeholder="Price" />
                    <input type="number" name="stockNumber" placeholder="Stock Number" />
                    <input type="file" name="productPhoto" placeholder="Select Photo" />
                    <select type="text" placeholder="Category" name="categoryId">
                        @foreach (var item in (List<Category>)ViewBag.category)
                        {
                            <option value="@item.categoryId">@item.categoryName</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-default">Save</button>
                }

            </div><!--/Admin login form-->
        </div>
    </div>
</section><!--/form-->
